/.terraform/
/.terraform.tfstate.lock.info
/terraform.tfstate
/terraform.tfstate.*
/terraform.tfvars
/crash.log
/crash.*.log

/*.tfplan
/*.plan

/override.tf
/override.tf.json
/*_override.tf
/*_override.tf.json

/.terraformrc
/terraform.rc

/AWS/**/.terraform/
/AWS/.terraform.tfstate.lock.info
/AWS/terraform.tfstate
/AWS/terraform.tfstate.*
/AWS/terraform.tfvars
/AWS/crash.log
/AWS/crash.*.log
/AWS/*.tfplan
/AWS/*.plan

/DO/**/.terraform/
/DO/.terraform.tfstate.lock.info
/DO/terraform.tfstate
/DO/terraform.tfstate.*
/DO/terraform.tfvars
/DO/crash.log
/DO/crash.*.log
/DO/*.tfplan
/DO/*.plan

/GCP/**/.terraform/
/GCP/.terraform.tfstate.lock.hcl
/GCP/.terraform.tfstate.lock.info
/GCP/terraform.tfstate
/GCP/terraform.tfstate.*
/GCP/terraform.tfvars
/GCP/crash.log
/GCP/crash.*.log
/GCP/*.tfplan
/GCP/*.plan

/Linode/**/.terraform/
/Linode/.terraform.tfstate.lock.hcl
/Linode/.terraform.tfstate.lock.info
/Linode/terraform.tfstate
/Linode/terraform.tfstate.*
/Linode/terraform.tfvars
/Linode/crash.log
/Linode/crash.*.log
/Linode/*.tfplan
/Linode/*.plan

/OCI/**/.terraform/
/OCI/.terraform.tfstate.lock.info
/OCI/terraform.tfstate
/OCI/terraform.tfstate.*
/OCI/terraform.tfvars
/OCI/crash.log
/OCI/crash.*.log
/OCI/*.tfplan
/OCI/*.plan

*.auto.tfvars
*.auto.tfvars.json
*.tfvars
*.tfvars.json

!.terraform.lock.hcl
!.pre-commit-config.yaml